body,html{
  width:100%;
  height:100%;
  margin:0;
  padding:0;
  background-image: url("twice1.jpg");
  background-size:cover;
  word-break: break-all;
}
#im{
  position:relative;
  margin:0 auto;
  width:100%;
  max-width:600px;
  height:100%;
  box-sizing:border-box;
  background:rgba(0,0,0,0.6);
}

#input{
  position:absolute;
  z-index:2;
  height:90px;
  width:100%;
  left:0;
  bottom:0;
  margin:0;
  padding:15px;
  box-sizing:border-box;
  background:#222;
  color:#fff;
  size: 14;
}

#input input, #input span{
  display:inline-block;
  margin:5px 0;
}

#input input{
  width:75%;
  border:none;
  padding:5px;
  margin-top: 5px;
}

#input span{
  width:10%;
  min-width:50px;
}

#input div{
  width:80%;
  float:left;
}
#input 

#btn{
  float:right;
  height:50%;
  width:20%;
  margin:2px 0;
  border:none;
  padding:0;
  background:#369;
  font-size:16px;
  color:#fff;
}

#back{
  float:right;
  height:50%;
  width:20%;
  /*margin:5px 0;*/
  border:none;
  padding:0;
  background:#369;
  font-size:16px;
  color:#fff;
}

#show{
  position:absolute;
  top:0;
  left:0;
  z-index:1;
  width:100%;
  height:calc(100% - 90px);
  overflow-y:scroll;
  padding:20px;
  box-sizing:border-box;
}

#show>div{
  position:relative;
  margin:0 0 20px 0;
  clear:both;
  height:40px;
}

#show>div>div{
  display:inline-block;
}

/*#show .time{
  position:absolute;
  top:-2px;
  font-size:10px;
  color:#777;
}*/

#show .now_acc{
  color:#fff;
  vertical-align:middle;
  float: right;
}
.name{
  color: yellow;
  vertical-align: middle;
  float:left;
}

#show .content{
  background:rgba(255,255,255,.8);
  padding:10px;
  margin-top:15px;
  margin-left:10px;
  border-radius:5px;
  vertical-align:middle;
}

#show::-webkit-scrollbar {
  width:5px;
}
#show::-webkit-scrollbar-track {
  background:rgba(255,255,255,.1);
  border-radius: 5px;
}
#show::-webkit-scrollbar-thumb {
  background:rgba(255,255,255,.2);
  border-radius: 2px;
}